pandas==1.3.3
numpy==1.21.2
scikit-learn==1.0
geopy==2.2.0
matplotlib==3.4.3
folium==0.12.1
joblib==1.1.0

#Tener instalada una versión de Python >=3.8 para evitar problemas de compatibilidad con algunas librerías.
#python -m venv modeloexportacion
#source mi_entorno/bin/activate  # En Linux/macOS
#mi_entorno\Scripts\activate     # En Windows
#pip install -r requirements.txt
